# 1. Standard Scaling

In [13]:
# import libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [14]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Age': [15, 18, 21, 25, 30, 35, 40],
    'Height': [150, 160, 165, 170, 175, 180, 185],
    'Weight': [45, 55, 60, 65, 70, 75, 80]
}

df = pd.DataFrame(data)

print(df)

   Age  Height  Weight
0   15     150      45
1   18     160      55
2   21     165      60
3   25     170      65
4   30     175      70
5   35     180      75
6   40     185      80

In [15]:
# import the scaler
scaler = StandardScaler()

# fit the scaler
scaler_df = scaler.fit_transform(df)

In [16]:
scaler_df

array([[-1.33078881, -1.72849788, -1.72849788],
       [-0.97703482, -0.83223972, -0.83223972],
       [-0.62328084, -0.38411064, -0.38411064],
       [-0.15160885,  0.06401844,  0.06401844],
       [ 0.43798113,  0.51214752,  0.51214752],
       [ 1.02757111,  0.9602766 ,  0.9602766 ],
       [ 1.61716109,  1.40840568,  1.40840568]])

In [ ]:
# Converting array into dataframe
new_df = pd.DataFrame(scaler_df)

In [18]:
new_df

          0         1         2
0 -1.330789 -1.728498 -1.728498
1 -0.977035 -0.832240 -0.832240
2 -0.623281 -0.384111 -0.384111
3 -0.151609  0.064018  0.064018
4  0.437981  0.512148  0.512148
5  1.027571  0.960277  0.960277
6  1.617161  1.408406  1.408406