
# ‚≠ê What is CatBoost? ü§ñüê±

**CatBoost** is a **machine learning algorithm** used for making predictions.
It is a type of **gradient boosting algorithm**.

The special thing about CatBoost is that it works **very well with categorical data**
(üëï Color, üèô City, üë¶ Gender, üõç Brand, etc.).

That‚Äôs why it's called **Cat-Boost** ‚Üí **Categorical + Boosting** üöÄ

---

# ‚≠ê Why CatBoost is Famous? üåü

### **1Ô∏è‚É£ Automatically handles categorical data**

You don‚Äôt need **Label Encoding** or **One-Hot Encoding**.
CatBoost does everything automatically ü§Ø‚ú®

### **2Ô∏è‚É£ Less Overfitting**

CatBoost uses **Ordered Boosting**, which helps prevent overfitting üõ°Ô∏è

### **3Ô∏è‚É£ Very Fast + High Accuracy**

Works great even on large datasets ‚ö°üìä

### **4Ô∏è‚É£ Works good without tuning**

Even default settings give excellent results ‚úîÔ∏è

---

# ‚≠ê Where is CatBoost used? üîß

‚úî Classification
‚úî Regression
‚úî Ranking
‚úî Time-Series

---

# ‚≠ê Real-Life Examples üåç

* Fraud detection üí≥
* House price prediction üè†
* Customer churn prediction üìû
* Medical diagnosis ü©∫
* Recommendation systems üé¨
* Kaggle competitions üèÜ

---

# ‚≠ê Simple Code Example üßë‚Äçüíª

```python
from catboost import CatBoostClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = CatBoostClassifier(verbose=False)
model.fit(X_train, y_train)

pred = model.predict(X_test)
```

---

# ‚≠ê One-line Summary üìù

**CatBoost = A powerful boosting algorithm that handles categorical features automatically and gives high accuracy.** üöÄ

In [47]:
# pip install catboost

In [48]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from catboost import CatBoostClassifier, Pool, cv
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

In [49]:
# load dataset
df = sns.load_dataset('titanic')

# **``Preposessing the Data``**

```python

In [50]:
# impute missing values with KNN Imputer in fare, age, embarked and embark_town columns
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=5)
df[['age', 'fare']] = imputer.fit_transform(df[['age', 'fare']])

# impute missing values in 'embarked' and 'embark_town' with simple imputer
from sklearn.impute import SimpleImputer
simple_imputer = SimpleImputer(strategy='most_frequent')
df[['embarked', 'embark_town']] = simple_imputer.fit_transform(df[['embarked', 'embark_town']])

# drop deck column
df.drop('deck', inplace=True, axis=1)

In [51]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [54]:
# convert categorical columns to 'category' dtype
categorical_cols = df.select_dtypes(include = ['category', 'object'])
for col in categorical_cols:
    df[col] = df[col].astype('category')

In [55]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,Southampton,no,True

In [60]:
# split the data into X and y
X = df.drop('survived', axis=1)
y = df['survived']