### üîÅ Inverse Encoding / Inverse Transform / Decoding Categorical Variables üòä

**Simple meaning:**
üëâ Converting **encoded numbers back into their original category names**.

---

### üß† Why is it needed?

Machine Learning models work with **numbers**, not text.
So we **encode** categorical data into numbers.
After prediction, to **understand the result**, we convert numbers **back to labels**.

---

### üî¢ Example (Label Encoding)

```python
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# Encoding
data = ['Cat', 'Dog', 'Fish']
encoded = le.fit_transform(data)
print(encoded)
```

**Output:**

```
[0 1 2]
```

---

### üîÑ Inverse Transform (Decoding)

```python
decoded = le.inverse_transform(encoded)
print(decoded)
```

**Output:**

```
['Cat' 'Dog' 'Fish']
```

---

### ‚úÖ Summary

* **Encoding** ‚Üí Text ‚ûú Numbers üî¢
* **Inverse Transform / Decoding** ‚Üí Numbers ‚ûú Text üî§
* Used to **interpret model predictions** üìä

In [ ]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# load data
df = sns.load_dataset('titanic')
df.head()

In [ ]:
null_values = df.isnull().sum()

In [ ]:
# filling missing values
df['age'] = df['age'].fillna(df['age'].mean())

In [ ]:
from cycler import L
# encode all categorical variable
le_sex = LabelEncoder()
le_embarked = LabelEncoder()
le_class = LabelEncoder()
le_who = LabelEncoder()
le_adult_male = LabelEncoder()
le_deck = LabelEncoder()
le_embark_town = LabelEncoder()
le_alive = LabelEncoder()
le_alone = LabelEncoder()

df['sex'] = le_sex.fit_transform(df['sex'])
df['embarked'] = le_embarked.fit_transform(df['embarked'])
df['class'] = le_class.fit_transform(df['class'])
df['who'] = le_who.fit_transform(df['who'])
df['adult_male'] = le_adult_male.fit_transform(df['adult_male'])
df['deck'] = le_deck.fit_transform(df['deck'])
df['embark_town'] = le_embark_town.fit_transform(df['embark_town'])
df['alive'] = le_alive.fit_transform(df['alive'])
df['alone'] = le_alone.fit_transform(df['alone'])

In [ ]:
df.head()

In [ ]:
# inverse transform the data
df['sex'] = le_sex.inverse_transform(df['sex'])
df['embarked'] = le_embarked.inverse_transform(df['embarked'])
df['class'] = le_class.inverse_transform(df['class'])
df['who'] = le_who.inverse_transform(df['who'])
df['adult_male'] = le_adult_male.inverse_transform(df['adult_male'])
df['deck'] = le_deck.inverse_transform(df['deck'])
df['embark_town'] = le_embark_town.inverse_transform(df['embark_town'])
df['alive'] = le_alive.inverse_transform(df['alive'])
df['alone'] = le_alone.inverse_transform(df['alone'])

In [ ]:
df.head()